{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "nvm"
cask "flameshot"
cask "visual-studio-code"
cask "brave-browser"
cask "obs"
cask "rectangle"
cask "scroll-reverser"
cask "alfred"
cask "warp"
cask "textmate"
cask "spotify"
cask "deepl"
EOF
{{ end -}}
